{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>Imageguru</title>
<section class="hero back is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
        <h3>Imageguru helps you to see a picture when you can't see it with your eyes.</h3>
        <p></p>
        <h3>Make a photo with the app or upload a picture and hear the description what's in the foto!! </h3>
        <p></p>
        <h2 class="title">Choose your Plan!</h2>

    <div class="row">
        <div class="column free_plan">
            <h2>Free plan</h2>
            <p>• Analyze one image/minute</p>
            <p>• Analyze images up to 1 MB</p>
            <div>
                <button type="button"  onClick="self.location.href='http://127.0.0.1:5000/analyze'" class="btn btn-primary btn-lg" id="btn-start">Start Analyzing!</button>
            </div>
        </div>

        <div class="column premium_plan">
            <h2>Premium Plan</h2>
            <p>• Analyze unlimted images</p>
            <p>• No limit for pictures uploads.</p>

            <form action="{{ url_for('pay') }}" method="POST">
                <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="{{ pub_key }}"
                    data-description="Buy a premium plan"
                    data-amount="{{amount}}"
                    data-email="{{ email }}"
                    data-locale="auto">
                </script>
                <script>
                // Hide default stripe button, be careful there if you
                // have more than 1 button of that class
                    document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                </script>
                <button type="submit" class="btn btn-primary btn-lg" id="btn-premium">Premium Plan</button>
            </form>
        </div>
    </div>
    </div>
  </div>
</section>

{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
<script src="../static/js/main.js"></script>
{% endblock %}
