{% extends "base.html" %}
{% block body %}
{% include "navbar.html" %}
<title>Imageguru</title>
<section class="hero is-primary is-bold is-small">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div id="upload" class="upload-box">
            <div class="upload-area">
                <h1 class="title">Choose a plan to proceed</h1>
            </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
{% block scripts %}
<script src="../static/js/scripts.js"></script>
<script src="../static/js/main.js"></script>
{% endblock %}
